# Build artifacts
*.o
*.d
lib/
*.so
*.a

# Build logs
*.log

# Documentation
*.pdf

# Doxygen output
docs/html/
docs/latex/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Tags files
tags
TAGS
